<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    throwExceptions="true"
    >
    
    <!-- Identify NLog extensions home. -->
    <extensions>
        <add assembly="Nebulator" />
    </extensions>
    
    <targets async="true">
        <!-- Log file target. fileName matches the value in the app. layout https://nlog-project.org/config/?tab=layout-renderers -->
            <!-- layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff} ${pad:padding=5:padCharacter=_:inner=${level:uppercase=true}} ${logger} ${message}" -->
        <target
            name="logFile"
            xsi:type="File"
            fileName="${specialfolder:folder=LocalApplicationData}/Ephemera/Nebulator/log.txt"
            layout="${date:format=yyyy\-MM\-dd HH\:mm\:ss.fff} ${level:format=FirstCharacter} ${logger} ${message}"
        />
        
        <!-- Custom notification target. -->
            <!-- layout="${date:format=HH\:mm\:ss.fff} ${pad:padding=5:padCharacter=_:inner=${level:uppercase=true}} ${message}" -->
        <target
            name="clientWindow"
            xsi:type="ClientWindow"
            layout="${date:format=HH\:mm\:ss.fff} ${level:format=FirstCharacter} ${message}"
        />
    </targets>
    
    <rules>
        <logger
            name="*"
            minlevel="Trace"
            writeTo="logFile"
        />
        <logger
            name="*"
            minlevel="Trace"
            writeTo="clientWindow"
        />
    </rules>
</nlog>
